/* HEADER */

header {
  margin: 0%;
  margin-bottom: 0%;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, black, #171717);
  }

.logo {
  width: 100px;
  height: auto;
  margin-left: 5%;
  margin-bottom: 1%;
}

.leftSide, .rightSide {
 align-items: center;
 display: flex;
}


.search input {
 width: 80%;
}

h1{
  margin-left: 5%;
  font-family: Pacifico;
  white-space: nowrap;
  color: #c87819;
}

.quote {
  margin-right: 10%;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  font-size: 150%;
  font-family: 'Playfair Display';
}

.quote:hover {
 color: #c87819;
 font-size: 151%;
}

/* NAVIGATION BAR */

nav {
 background: linear-gradient(180deg, #171717, #353535);

 overflow: hidden;
 margin: 0%;
 border-radius: 0px;
 margin-top: 0%;
 display: flex;
}

nav ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
 overflow: hidden;
 flex-direction: row;
}

nav li {

 float: left;
 text-align: center;
}

nav a {
 display: block;
 color: #FFF;
 font-size: 16px;
 padding-top: 14px;
 padding-bottom: 14px;
 padding-left: 211px;
 padding-right: 211px;
 text-decoration: none;
 font-family:  Inter;
}

nav a:hover {
 background: linear-gradient(180deg, rgba(23, 23, 23, 0.5), rgba(53, 53, 53, 0.5));
 color: #c87819;
 font-size: 17px;
}

/* BODY */

body {
 margin: 0%;
 background: #353535;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  margin: auto;
  padding: 0px 20px;
  padding: 15px;
  box-sizing: border-box;
  margin-left: 100px;
  margin-top: 4px;
  }

/* Clear floats after image containers */
/* .row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  align-items: center;
  
}

.column {
  flex-basis: 28%;
} */

.sentence
{
  text-align: center;
  padding-top: 30px;
  font-size: 3em;
  color:whitesmoke ;
  font-family: Pacifico;
}

.column {
  display: flex;
  justify-content: center;
  margin-left: 33%;
}

.column img {
  width: 80%;
  height: auto;
  margin-left: 2%;
}

.column .img1 {
  width: 90%;
  height: auto;
}

.sentence1 {
  font-family: Inter;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 8px;
  }