body {
  margin: 0;
  background: #000317;

  }
 
.background{
  background: linear-gradient(to bottom,#ffffff, #fff7e4);
}
 

.sentence1 {
  font-family: Inter;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 8px;
  }

  .imagesList {
    padding-bottom: 4%;
    padding-left: 3%;
    padding-right: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Change the number of columns here */
    grid-gap: 20px;
  }
  
  
  .imagesBlock {
    position: relative;
  }
  
  .imagesBlock img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  }
  
  .sentence1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #000317;
    margin-top: 100px;
    padding: 30px;
    border-radius: 10px;
  }
  
  .footer1 {
    background-color: #000317;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    position: relative;
    margin-top: auto;
  }