/* HEADER */

header {
    margin: 20px;
}

.logo,
h1,
.quote,
form {
    display: inline-block;
}

.logo {
    width: 100px;
    height: 80px;
    float: left;
    margin-right: 25px;
    margin-left: 20px;
}

h1 {
    margin-right: 58%;
    font-family: pacifico;
}

.quote {
    text-decoration: none;
    color: black;
    padding: 0px;
    font-size: 20px;
    margin-right: 50px;
}

.quote:hover {
    color: grey;
    font-size: 21px;
    margin-right: 44px;
}

.rightSide form {
    float: inline-end;
}

/* BODY */

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: black;
    background-color: whitesmoke;
}

/* NAV BAR */

.nav {
    overflow: hidden;
    background-color: black;
    margin: 20px;
    border-radius: 5px;
}

.nav a {
    float: left;
    color: white;
    text-align: center;
    padding-right: 198px;
    padding-left: 198px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color: #333;
    width: 1850px;
}

.nav li a {
    display: block;
    text-decoration: none;
    font-size: 25px;
}

.nav li a:hover {
    background-color: #111;
    font-size: 24px;
}

/* SLIDESHOW */

/* images */
.mySlides img {
    border-radius: 10px;
    height: 500px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 20px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* The dots/bullets/indicators */
/* .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
} */

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .9;
    }

    to {
        opacity: 1
    }
}

/* FOOTER */
/* #footer {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 50vh;
    padding: 50px 100px;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer ul li {
    color: white;
    list-style: none;
    margin: 30px 40px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

#footer ul li a:hover {
    color: #ff4321;
} */