/* HEADER */
body {
     margin: 0%;
     background: linear-gradient(180deg, #353535, #404040);
}

header {
     margin: 0%;
     margin-bottom: 0%;
     display: flex;
     justify-content: space-between;
     background: linear-gradient(180deg, black, #171717);
     }

.logo {
     width: 100px;
     height: auto;
     margin-left: 5%;
     margin-bottom: 1%;
}

.leftSide, .rightSide {
    align-items: center;
    display: flex;
}


.search input {
    width: 80%;
}

h1{
     margin-left: 5%;
     font-family: Pacifico;
     white-space: nowrap;
     color: #c87819;
}

.quote {
     margin-right: 10%;
     text-decoration: none;
     color: white;
     white-space: nowrap;
     font-size: 150%;
     font-family: 'Playfair Display';
}

.quote:hover {
    color: #c87819;
    font-size: 151%;
}

/* NAVIGATION BAR */

nav {
    background: linear-gradient(180deg, #171717, #353535);

    overflow: hidden;
    margin: 0%;
    border-radius: 0px;
    margin-top: 0%;
    display: flex;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    /* display: flex; */
    flex-direction: row;
}

nav li {

    float: left;
    text-align: center;
}

nav a {
    display: block;
    color: #FFF; /*White*/
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 214.4px;
    padding-right: 214.4px;
    text-decoration: none;
    font-family:  Inter;
}

nav a:hover {
    background-color: #F2F2F2; /*Light Gray*/
    color: black;
}

/* SLIDESHOW */

/* images */
.mySlides img {
    height: 500px;
    width: 500px;

}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .9;
    }

    to {
        opacity: 1
    }
}